.name {
    margin-right: 20px;
}
.number {
    margin-right: 10px;
}
.remove-btn {
    margin-left: 15px;
}
.add {
    margin-bottom: 15px;
}
.tip {
    margin-bottom: 10px;
    border-top: 1px solid black;
    padding-top: 10px;
}
.delivery {
    margin-bottom: 15px;
}